*{
	margin: 0;	
	padding: 0;
	box-sizing: border-box;
}


*{
	font-family: "Boogaloo", cursive;
	font-size: 20px;
}


#landing, #about-section, #samples, #contact-section{
	height: 100vh;
	margin-top: 5rem;
}

.jumbotron{
	background-image: url(images/cake2.jpg);
	min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 70% 60%;
    background-attachment: scroll;
    display: absolute;
    opacity: 80%;
    margin-bottom: 0;
}




/*.container{
	min-height: 100vh;
	position: relative;
	/*margin-bottom: 2rem;
}*/


.bg-image2{
	background-image: url(images/cake2.jpg);
	min-height: 170vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 60% 60%;
    background-attachment: scroll;
    display: absolute;
}

.background-image{
	background-image: url(images/cake2.jpg);
	min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 60% 30%;
    background-attachment: scroll;
    display: absolute;
}


#footer {
   padding:  5px;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #E3D6EB;
}


#form{
	max-height: 75vh;

}

.bg-pallette{
	background-color: #E3D6EB;
	min-height: 150vh;
}

.bg-footer{
	text-align: center;
	font-size: 15px;
	color: black;
}

